{% extends 'basecode1.html' %}
{% block title %}{{clg.collegeName}} Update-Alumini Tracking System{% endblock %}
{% block body %}
<div class="container">
    <center>
    <form method="post" id="form" action="/college/update_college_profile" enctype="multipart/form-data">
        {% csrf_token %}<input type="hidden" value="{{role}}" name="role">

    <table>
        <tr class="table">
            <th>College Name:</th>
            <td><input type="text" name="name" id="i1" value="{{clg.collegeName}}" disabled></td>
            <td><input type="button" id="e1" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c1" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err1"></div></td>
            </tr>

          <tr class="table">
            <th>CollegeType</th>
            <td><input type="text" name="clgtype" id="i2" value="{{clg.collegeType}}" disabled></td>
            <td><input type="button" id="e2" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c2" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err2"></div></td>
            </tr>

          <tr class="table">
            <th>College Id:</th>
            <td><input type="text" name="collegeId" id="i3" value="{{clg.collegeId}}" disabled></td>
            <td><input type="button" id="e3" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c3" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err3"></div></td>
            </tr>

          <tr class="table">
            <th>Contact Number:</th>
            <td><input type="text" name="mobno" id="i4" value="{{clg.mobileNo}}" disabled></td>
            <td><input type="button" id="e4" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c4" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err4"></div></td>
            </tr>


              <tr class="table">
            <th>Email Address:</th>
            <td><input type="text" name="email" id="i6" value="{{clg.emailAdd}}" disabled></td>
            <td><input type="button" id="e6" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c6" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err6">{{error}}</div></td>
            </tr>

          <tr class="table">
            <th>Principle Name</th>
            <td><input type="text" name="prinName" id="i7" value="{{clg.principleName}}" disabled></td>
            <td><input type="button" id="e7" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c7" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err7"></div></td>
            </tr>

          <tr class="table">
            <th>Address:</th>
            <td><input type="text" name="address" id="i8" value="{{clg.address}}" disabled></td>
            <td><input type="button" id="e8" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c8" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err8"></div></td>
            </tr>

          <tr class="table">
            <th>Pincode:</th>
            <td><input type="text" name="pincode" id="i9" value="{{clg.pincode}}" disabled></td>
            <td><input type="button" id="e9" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c9" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err9"></div></td>
            </tr>
          <tr class="table">
            <th>University</th>
            <td><input type="text" name="unv" id="i10" value="{{clg.university}}" disabled></td>
            <td><input type="button" id="e10" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c10" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err10"></div></td>
            </tr>
  <tr class="table">
            <th>Year of establishment</th>
            <td><input type="number" name="yoe" id="i11" value="{{clg.yearOfEstablishment}}" disabled></td>
            <td><input type="button" id="e11" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c11" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err11"></div></td>
            </tr>
  <tr class="table">
            <th>Departments</th>

        <td><b>To select multiple items press CTRL and then select</b>
       <select id="i12" disabled name="ndepts" multiple class="custom-select" required>
  {% for i in depts %}
            {% if i in departments %}
            <option selected value="{{i}}">{{i}}</option>
           {% else %}
           <option value="{{i}}">{{i}}</option>
           {% endif %}
{% endfor %}
</select>

        </td>

      <td><input type="button" id="e12" class="btn ebs btn-success" value="EDIT"></td>
            <td><input type="button" id="c12" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"></td>
         <td><div style="color:red;" id="err12"></div></td>
        </tr>



         <tr class="table">
            <th>Courses Offered: </th>
            <td><b>To select multiple items press CTRL and then select</b>
       <select id="i14" disabled name="ncourses" multiple class="custom-select" required>
  {% for i in crs %}
            {% if i in courses %}
            <option selected value="{{i}}">{{i}}</option>
           {% else %}
           <option value="{{i}}">{{i}}</option>
           {% endif %}
{% endfor %}
</select>

        </td>
            <td><input type="button" id="e14" class="btn ebn btn-success" value="EDIT"></td>
            <td><input type="button" id="c14" class="btn ebc btn-warning" value="CONFIRM" style="display: none;"style="display: none;"></td>
            <td><div style="color:red;" id="err14"></div></td>
            </tr>
  <tr class="table">



    </table>
          <input value="{{username}}" type="hidden" name="college_old_username">
<br>
        <div style="color:red" id="upderr"></div>
        <br>
        <button type="submit" id="updt" class="btn btn-warning">UPDATE</button>

    </form>
    </center>
</div>
<br><br>
        {% endblock %}

{% block js %}

        $(function(){
      var $pincode=/^[1-9][0-9]{5}$/;
      var $mobile=/^[0-9]{10,15}$/;



            $('.ebn').click(function(){

               var eid=this.id.toString().slice(1,);
                console.log(eid)
                $('#'+'i'+eid).prop("disabled",false);
                $('#'+'e'+eid).css("display","none");
                $('#'+'c'+eid).css("display","block");




            });

             $('.ebc').click(function(){

               var eid=this.id.toString().slice(1,);
                console.log(eid)
                if(eid!='4' && eid!=9)
                {
                if($('#'+'i'+eid).val()=="" )

                {
                $('#err'+eid).text('Please enter some value')
                 return false
                }
                else{
                $('#err'+eid).text('')
                $('#'+'i'+eid).prop("disabled",true);

                $('#'+'c'+eid).css("display","none");
                 $('#'+'e'+eid).css("display","block");
                 }
                 }
                 });

            $('#c4').click(function(){
            if(!$('#i4').val().match($mobile))
            {
            $('#err4').text('Please enter a valid mobile number')
            }
            else{
            $('#err4').text('');
             $('#i4').prop("disabled",true);

                $('#c4').css("display","none");
                 $('#e4').css("display","block");
            }
            });

             $('#c9').click(function(){
            if(!$('#i9').val().match($pincode))
            {
            $('#err9').text('Please enter a valid pincode')
            }
            else{
            $('#err9').text('');
             $('#i9').prop("disabled",true);

                $('#c9').css("display","none");
                 $('#e9').css("display","block");

            }
            });






            $('#updt').click(function(){
                if(!($('#c1').is(':hidden') && $('#c2').is(':hidden') && $('#c3').is(':hidden') && $('#c4').is(':hidden') && $('#c6').is(':hidden') && $('#c7').is(':hidden') && $('#c8').is(':hidden') && $('#c9').is(':hidden') && $('#c10').is(':hidden') && $('#c11').is(':hidden') && $('#c12').is(':hidden') && $('#c14').is(':hidden')))
                {
                 $('#upderr').text('Please conform all your updates before updating your profile');
                  return false;
                }
                else{
                $('#upderr').text('');
                alert('Your profile has been updated succesfully')
                $('#i1,#i2,#i3,#i4,#i6,#i7,#i8,#i9,#i10,#i11,#i12,#i14').prop("disabled",false);
                 }



            });




   // $('#emp_logout').click(function(){
//localStorage.removeItem('cart','chkcart');

//})


         });




{% endblock %}