<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>     {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="navbar-brand"> <img src="/media/alumini_icon.jpg" height="50" width="100"> Welcome {{username}}</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

    <ul class="navbar-nav">
        <li>
         <form method="get" action="/student/student_homepage">
             <input type="hidden" value="{{role}}" name="role">
            <input type="hidden" value="{{username}}" name="username">
             <button style="background-color:transparent; border:0;" class="nav-link {% block home %}{% endblock %}">Home</button>
         </form>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More Options</a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item bg-dark">
                   <form method="get" action="/student/view_college_info">
                       <input type="hidden" value="{{role}}" name="role">
                        <input type="hidden" value="{{username}}" name="username">
                       <button style="background-color:transparent; border:0;" class="nav-link {% block viewclg %}{% endblock %}">View College</button>
                   </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                     <form method="get" action="/student/change_password">
                         <input type="hidden" value="{{role}}" name="role">
                         <input type="hidden" value="{{username}}" name="username">
                         <button style="background-color:transparent; border:0;" class="nav-link {% block chgpass %}{% endblock %}" id="chngpass">Change Password</button>
                     </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                     <form method="get" action="/student/change_image">
                         <input type="hidden" value="{{role}}" name="role">
                         <input type="hidden" value="{{username}}" name="username">
                         <button style="background-color:transparent; border:0;" class="nav-link {% block chgimg %}{% endblock %}" id="chnimg">Change Profile Image</button>
                     </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                    <form method="get" action="/student/view_profile">
                        <input type="hidden" value="{{role}}" name="role">
                         <input type="hidden" value="{{username}}" name="username">
                        <button type="submit" class="nav-link {% block view_profile %}{% endblock %}" style="background-color:transparent; border:0;">My Profile</button>
                    </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                     <form method="get" action="/student/view_other_alumnis">
                         <input type="hidden" value="{{role}}" name="role">
                         <button type="submit" style="background-color:transparent; border:0;" class="nav-link {% block view_alumnis %}{% endblock %}">View Other Aluminis</button>
                         <input type="hidden" value="{{username}}" name="username">
                     </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                     <form method="get" action="/student/view_notices">
                         <input type="hidden" value="{{role}}" name="role">
                         <button type="submit" style="background-color:transparent; border:0;" id="view_notices" class="nav-link {% block view_notices %}{% endblock %}">View Notices</button>
                         <input type="hidden" value="{{username}}" name="username">
                     </form>
                 </a>

                           <a class="dropdown-item bg-dark">
                     <form method="get" action="/student/view_consensus">
                         <input type="hidden" value="{{role}}" name="role">
                         <button type="submit" style="background-color:transparent; border:0;" id="view_consensus" class="nav-link {% block view_consensus %}{% endblock %}">Vote here</button>
                         <input type="hidden" value="{{username}}" name="username">
                     </form>
                 </a>


            </div>
        </li>



        <li class="nav-item">
            <form method="get" action="/admin_login/user_logout">
                <input type="hidden" value="{{role}}" name="role">
                <input type="hidden" name="username" value="{{username}}">
                <button style="background-color:transparent; border:0;" class="nav-link" id="logout">Logout</button>
            </form>
        </li>


    </ul>
</div>
</nav>
    {% block message %}{% endblock %}
    <br><br>

        {% block body %}{% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>{% block js %}{% endblock %}</script>
  </body>
</html>