<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login Alumini Tracking System</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="navbar-brand"><img src="/media/alumini_icon.jpg" height="50" width="100">ALUMNI CONNECT</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

    <ul class="navbar-nav">



                 <a class="dropdown-item bg-dark">
                   <form method="get" action="/">
                       <button style="background-color:transparent; border:0;" class="nav-link">Home</button>
                   </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                   <form method="get" action="/admin_login/login_page">
                       <button style="background-color:transparent; border:0;" class="nav-link active">Login</button>
                   </form>
                 </a>

                 <a class="dropdown-item bg-dark">
                   <form method="get" action="/student/signup_page">
                       <button style="background-color:transparent; border:0;" class="nav-link">Signup</button>
                   </form>
                 </a>
    </ul>
</div>
</nav>

    <br><br>

 <div class="container">
      <div class="alert alert-danger" role="alert" align="center">
          <strong>LOGIN PAGE</strong>
</div>

    <form method="post" action="/student/student_login_success">
      {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="username1">
    <div style="color:red;">{{email_error}}</div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password1">
    <div style="color:red;">{{pass_error}}</div>
  </div>
        <div align="right"><a href="/student/after_forgot_password"> Forgot Password?</a><br><br></div>
        <center><button type="submit" class="btn btn-primary">Login</button></center>
      <br><br>
</form>
    Are you new user<a href="/student/signup_page"> Sign Up?</a><br><br>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  </body>
</html>

