{% extends 'basecode.html' %}
{% block title %}Change Password - Alumni Tracking System {% endblock %}
{% block chgpass %}active{% endblock %}
{% block body %}



<center><b><h3>Change your password:</h3></b>
<form method="post" enctype="multipart/form-data" action="/admin_login/change_admin_password">
{% csrf_token %}<input type="hidden" value="{{role}}" name="role">
    <table>
    <tr>
        <td>

    <label>Enter your current password</label>

  </td>
        <td><input required type="password" class="form-control" id="curpass" name="curpass"></td>
    </tr>
    <tr>
        <td><div style="color:red;" id="pass_err">{{pass_err}}</div></td>
        <td></td>
    </tr>
     <tr>
        <td>

    <label>Enter your new password</label>

  </td>
        <td><input required type="password" class="form-control" id="newpass" name="newpass"></td>
    </tr>
    <tr>


        <td><div style="color:red;" class="err"></div></td>
        <td></td>
    </tr>
    <tr>
<td>
    <label>Retype your new password</label>
</td>

        <td><input required type="password" class="form-control" id="confpass" name="confpass"></td>
    </tr>
     <tr>
         <td><div class="err" style="color:red;"></div></td>
        <td></td>
    </tr>
</table>
    <br><br>
    <input type="hidden" value="{{username}}" name="username">
    <button id="chgpass" type="submit" class="btn btn-danger">Change Password</button>
</form>
</center>
{% endblock %}

{% block js %}
    $(function(){

    $('#curpass').keyup(function(){
     $('#pass_err').text('')
    })

    $('#newpass,#confpass').keyup(function(){

    if($('#newpass').val()!=$('#confpass').val())
    {
    $('.err').text('Password not matching')
    $('#chgpass').prop('disabled',true)
    }
    else{
       $('.err').text('')
    $('#chgpass').prop('disabled',false)
    }
    });






    });


{% endblock %}